{% extends "home/index.html" %}
{% block card_content %}
    <p>Registrate: </p>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="post" action="signUp/young">
        {% csrf_token %}
        <input name="email" type="text" placeholder="correo">
        <br>
        <input name="first_name" type="text" placeholder="Nombre(s)">
        <br>
        <input name="last_name" type="text" placeholder="Apellidos">
        <br>
        <input name="password" type="password" placeholder="contraseña">

        <br>
        <p>Area de interés: </p>
        <select name="interest_area">
            <option value="Aricultura" selected>Aricultura</option>
            <option value="Ganaderia">Ganaderia</option>
            <option value="Mineria">Mineria</option>
            <option value="Ingenieria">Ingenieria</option>
            <option value="Sistemas">Sistemas</option>
            <option value="Mecatronica">Mecatronica</option>
            <option value="Licenciatura">Licenciatura</option>
        </select>

        <br>
        <p>Nivel: </p>
        <select name="level" id="">
            <option value="sin experiencia" selected>Sin experiencia</option>
            <option value="con bachillerato">Bachillerato terminado</option>
            <option value="carrera recien comenzada">Carrera recien comenzada</option>
            <option value="carrera casi terminada">Carrera casi terminada</option>
            <option value="profesionista">Profesionista</option>
        </select>
        <br>
        <p>Cuentanos tu perfil:</p>
        <textarea name="description" id="" cols="30" rows="10" placeholder="Cuéntanos tu perfil">
        </textarea>
        <br>
        <input type="submit">
    </form>
{% endblock %}
