.bg_light_custom_gray {
    background-color: #f1f3f4;
}

.br-50 {
    border-radius: 50%;
}

.blue_gradient {
    background: rgba(71,201,123,1);
    background: -moz-linear-gradient(left, rgba(71,201,123,1) 0%, rgba(0,153,153,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(71,201,123,1)), color-stop(100%, rgba(0,153,153,1)));
    background: -webkit-linear-gradient(left, rgba(71,201,123,1) 0%, rgba(0,153,153,1) 100%);
    background: -o-linear-gradient(left, rgba(71,201,123,1) 0%, rgba(0,153,153,1) 100%);
    background: -ms-linear-gradient(left, rgba(71,201,123,1) 0%, rgba(0,153,153,1) 100%);
    background: linear-gradient(to right, rgba(71,201,123,1) 0%, rgba(0,153,153,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47c97b', endColorstr='#009999', GradientType=1 );
}

.application_header {
    height: 50px;
}

.application_header > i {
    top: 0;
    right: 20px;
    height: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    color: white;
}

.service__titleLine {
    border: 0;
    height: 1px;
}

.serviceDetail__header {
    //max-width: 600px;
    min-height: 200px;
}

.serviceDetail__header > img:nth-child(1) {
    //max-width: 600px;
    min-height: 200px;
    width: 100%;
}

.map__opacity {
    width: 100%;
    //max-width: 600px;
    height: 100%;
    min-height: 200px;
    z-index: 2;
    background: black;
}

.serviceDetail__header__roundImg {
    position: absolute;
    bottom: -40px;
    width: 80px;
    height: auto;
    left: 40px;
    z-index: 3;
}

.serviceDetail__contactBtn {
    position: absolute;
    right: 20px;
    bottom: -25px;
    width: 150px;
    height: 50px;
    line-height: 50px;
    background: royalblue;
    z-index: 3;
    color: #eeeeee;
    font-size: 1.5rem;
}

.blue_line {
    border: 0;
    margin: 0 2rem;
    height: 1px;
    background-color: royalblue;
}

.img_shadow {
    -webkit-box-shadow: 11px 16px 76px -15px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 16px 76px -15px rgba(0,0,0,0.75);
box-shadow: 11px 16px 76px -15px rgba(0,0,0,0.75);
}

.light_shadow {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}