.bg_light_custom_gray {
    background-color: #f1f3f4;
}

.blue_gradient {
    background: rgba(71,201,123,1);
    background: -moz-linear-gradient(left, rgba(71,201,123,1) 0%, rgba(0,153,153,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(71,201,123,1)), color-stop(100%, rgba(0,153,153,1)));
    background: -webkit-linear-gradient(left, rgba(71,201,123,1) 0%, rgba(0,153,153,1) 100%);
    background: -o-linear-gradient(left, rgba(71,201,123,1) 0%, rgba(0,153,153,1) 100%);
    background: -ms-linear-gradient(left, rgba(71,201,123,1) 0%, rgba(0,153,153,1) 100%);
    background: linear-gradient(to right, rgba(71,201,123,1) 0%, rgba(0,153,153,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47c97b', endColorstr='#009999', GradientType=1 );
}

.application_header {
    height: 30px;
}

.application_header > i {
    top: 0;
    right: 20px;
    height: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    color: white;
}

.service__titleLine {
    border: 0;
    height: 1px;
}