{% extends "home/layout.html" %}
{% block home_content %}
    <header class="application_header w-100 blue_gradient relative">
        <div class="near-white ff-roboto w-100 h-100 displayFlex justify-center items-center f5">
            CONECTATE AL CAMPO
        </div>
        <i class="fa fa-user absolute" aria-hidden="true"></i>
    </header>

    <div class="young__serviceDetail__container w-100">
        <div class="serviceDetail__header relative center">
            <img class="center"
            src="https://maps.googleapis.com/maps/api/staticmap?
            center={{ object.lat }},{{ object.lon }}&zoom=15&size=1600x300&maptype=roadmap
            &markers=color:red%7Clabel:S%7C{{ object.lat }},{{ object.lon }}
            &key=AIzaSyA0GMpyvaUif6YqvfIOj3-b7BxxwJCtrpI" alt="">

            <div class="map__opacity absolute top-0 left-0 b--near-back o-30"></div>
            <img class="serviceDetail__header__roundImg img_shadow br-50"
                 src="{{ object.client.image.url }}" alt="">
            <div class="serviceDetail__contactBtn ff-roboto tc img_shadow">
                {% if service.userIsAcepted %}
                    Conectado
                {% elif service.userHasRequested%}
                    Solicitado
                {% else %}
                    Solicitar
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <div class="displayFlex justify-between pt4 center ff-roboto">
        <div class="w-40 dib tc">
            <p class="f6 tl pl4">{{ object.client.first_name }} {{ object.client.last_names }}</p>
        </div>
        <div class="w-40 dib tc">
            <p class="f6 tl pr4">{{ object.client.title }}</p>
        </div>
    </div>

    <div class="center w-100 ff-roboto">
        <p class="f6 pl4">{{ object.address }}</p>
    </div>
    <br>

    <hr class="blue_line">
    <div class="displayFlex justify-between servideDetails w-90 center bg-white br3 pa3 pa4-ns mv3 ff-roboto">
        <div class="f7">Nivel: {{ object.level }}</div>
        <div class="f7">Área: {{ object.interest_area }}</div>
    </div>


    <hr class="blue_line">
    <div class="servideDetails w-90 center bg-white br3 pa3 pa4-ns mv3 ff-roboto">
        <div class="detail__title">Descripción</div>
        <br>
        <div class="detail__content f7 tj-l">
            {{ object.description }}
        </div>
    </div>

    <hr class="blue_line">
    <div class="servideDetails w-90 center bg-white br3 pa3 pa4-ns mv3 ff-roboto">
        <div class="detail__title">Requerimientos</div>
        <br>
        <div class="detail__content f7 tj-l">
            {{ object.requirements }}
        </div>
    </div>

    <hr class="blue_line">
    <div class="servideDetails w-90 center bg-white br3 pa3 pa4-ns mv3 ff-roboto">
        <div class="detail__title">Información adicional</div>
        <br>
        <div class="detail__content f7 tj-l">
            {{ object.extraInfo}}
        </div>
    </div>
{% endblock %}
